.row
  .col-lg-8.col-md-10.col-sm-12.text-center
    %h2
      Your link has been shortened

%section#form
  .row
    .col-lg-8.col-md-10.col-sm-12.text-center
      .form-inline
        .form-group
          = text_field_tag "new_url", show_short_url(@link.short_url), id: "short-url-link", class: "form-control"
        .form-group
          = button_tag "Copy", id: 'btn-copy-link', class: 'btn btn-default'

      = render "form", :link => @new_link

.row
  .col-lg-8.col-md-10.col-sm-12.text-center
    %h2
      Recenty shortened links

    - recently_shortened_urls.each do |lnk|
      %p
        %span
          - short_link = show_short_url(lnk['short_url'])
          = link_to short_link, url_for(short_link)
        %span.glyphicon.glyphicon-menu-right
        %span.glyphicon.glyphicon-menu-right
        %span.glyphicon.glyphicon-menu-right
        %span
          = link_to truncate(show_long_url(lnk['long_url']), lenght: 100), url_for(lnk['long_url'])
        %span
          = lnk['clicks_count']
